<div class="container">
	<div class="row">
		<div class="col-md-12">
		{{!-- 	<img src="" alt="burger" class="img-responsive center-block"> --}}
		</div>
	</div>

	<div class="col-md-12">
		{{!-- <h1>Yummy Burger!</h1> --}}
		<img src="/assets/img/yummy.png" alt="burger" class="img-responsive center-block">
		<h3><strong>Because your day will be better after having a yummy burger</strong></h3>
	</div>
	
	<div class="row">
		<div class="col-md-5">
			<h4><strong>Burgers to Eat</strong></h4>
				<ul>
					{{#each burgers}}
	 					{{#unless devoured}}							
				                 {{> burgers/burger-block devoured=true}}
				  
	    				{{/unless}}
	  				{{/each}}
				</ul>
		</div>

		<div class="col-md-1"></div>

		<div class="col-md-5">
			<h4><strong>Eaten Burgers!</strong></h2>
				<ul>
	  			{{#each burgers}}
	    			{{#if devoured}}
	    			<div class = "burgerEaten">
	     				{{burger_name}}
	     			</div>
	    			{{/if}}
	  			{{/each}}
				</ul>
		</div>
	</div>



	 <h3>Please place your order here: </h3>

	 <div class="row">
	 	<div class="col-md-12">
	 		<form class="add-burger">
				<input type="text" id="burger_name" name="name">
				<button type="submit" class="btn btn-success">Add this burger</button>
			</form>
		</div>
	</div>
</div>