body {
    background-color: transparent;
}

.container {
    background-color:#c8e0ec;
}

h3, h2 {
    text-align: center;
}

h2 {
    font-family: 'Indie Flower', cursive;
}
h4 {
    text-align: center;
    margin-top: 1000px;
}

form {
    text-align: center;
}

img {
	width: 100%;
}

.change-devoured {
 	font-size: 20px;
 	text-align: center;
 	border-radius: 10px;
 	width: 97%;
 	margin: 10px;
 	padding: 10px;
 	background-color: #f09e39;
 	border: none;
 }

.burgerEaten {
 	font-size: 20px;
 	text-align: center;
	margin: 10px;
 	padding: 10px;
 	border-radius: 10px; 	
 	background-color: lightgrey;
 	border: none;
 }

 #burger_name {
 	width: 300px;
 	height: 80px;
 	border-radius: 10px;
 }

 #add-burger {
 	vertical-align: middle;
 	margin-bottom: 100px;
 }

 .btn-success {
 	margin-bottom: 500px;
 	vertical-align: middle;
 }